/* Reset y estilos base */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
  color: #2b2b2b;
  overflow-x: hidden;
}

/* Usar .page en un contenedor interno, no en <body> */
.page {
  margin: 0 auto;
  max-width: 1200px; /* ejemplo: limitar ancho */
  padding: 1rem;     /* espacio interno */
}







