    -webkit-locale: "en";
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Inter",Arial,Helvetica,sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;








